.fonts {
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #fff;
}

nav {
  background-color: #fff;
}

.nav-log {
  display: block;
  margin-right: 1px;
  padding: 0 12px;
  cursor: pointer;
  z-index: 10;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.nav-log.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-log.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}

.nav-log.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 0;
  gap: 0;
  flex-direction: column;
  opacity: 80%;
  width: 100%;
  height: 100%;
  background-color: #6070ff;
  backdrop-filter: blur(10px);
  text-align: left;
  transition: 0.3s;
  z-index: 9;
}

.nav-menu.active {
  left: 0;
}

.page-development {
  background-image: url(./assets/backgroundmain.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-deployment {
  background-image: url(./assets/pattern_bg.png);
  background-color: #272a32;
  background-repeat: repeat;
  color: #fff;
}

.incoming {
  background-color: #fff;
}




/* About Us Page CSS */

.main-aboutUs{
  background-color: #F7F7F8;
}

.main-titles-about {
  background-image: url(./assets/backgroundmain.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.description-main-about {
  background-color: #fff;
}

.contact-main-aboutUs {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.partnerships {
  background-color: #fff;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners h4 {
  align-self: center;
}

.partners img {
  width: 75%;
  align-self: center;
}

footer .partner{
  background-color: #414246;
}